<div class="container maincontent">
  <div id="posts" class="row">
    {% for entry in entries %} 
      <div class="post span4">
        <div style="padding: 10px 10px;"><h6>{{ entry.title }}</h6></div>
        <a href="{{constant('BASE_URL')}}contest/entries/{{contestInfo.contestSlug }}/{{entry.id}}"><img src={{ entry.image }} width="600" height="450" /></a>
        <div style="padding: 10px 10px; vertical-align:bottom;"> di {{ entry.author.name }} </div>
      </div>
    {% endfor %}
  </div> 
<script src="{{constant('BASE_URL')}}js/jquery.masonry.min.js"></script>
<script>
  $(document).ready(function() {
    $("#posts").masonry({
      itemSelector: '.post',
      isAnimated: true,
      columnWidth: function(containerWidth) {

        var width = $(window).width();
        var col = 200;


        if (width < 1200 && width >= 980) {
          col = 160;
        }
        else if (width < 980 && width >= 768) {
          col = 8;
        }

        return col;
      }
    });

  });
</script>
