 <div id="posts" class="row">
    {% for entry in entries %}
      <div class="post span4">
        <div style="padding:10px;">
          {% if entry.image is not empty %}
            <img   src= {{ entry.image }} width="600" height="400" />
          {% endif %}
          <h6>{{ entry.title }}</h6>
          by {{ entry.author.name }}
          <div class="pull-right"><img src="{{constant('BASE_URL')}}images/facebook.png" width="24px" height="24px" alt="facebook" />
              <img src="{{constant('BASE_URL')}}images/twitter.png" width="24px" height="24px" alt="twitter" />
          </div>
        </div>
      </div>   
    {% endfor %}
  </div>
  
  {% if entryCount is not empty and entryCount > 10 %}
    <div class="row">
      <div class="span12">
        <a href="#" class="btn btn-large btn-block">SEE ALL</a> 
      </div>
    </div>
    <hr>
  {% endif %}
  
  <script src="{{constant('BASE_URL')}}js/jquery.masonry.min.js"></script>
<script src="{{constant('BASE_URL')}}js/bootstrap-fileupload.js"></script>
<script>

  $(document).ready(function() {

    $("#posts").masonry({
      itemSelector: '.post',
      isAnimated: true,
      columnWidth: function(containerWidth) {

        var width = $(window).width();
        var col = 200;


        if (width < 1200 && width >= 980) {
          col = 160;
        }
        else if (width < 980 && width >= 768) {
          col = 8;
        }

        return col;
      }
    });

  });
</script>
