<div class="container maincontent">
  {% if entries is empty %}
    <div class="container"> 
      <div class="show-msg">
        <div class="row">
          <div class="span12">
            <div style="padding:25px 25px;">    
              <p class="show-msg-text">
                {{ t('contest','Nobody has sumbitted anything yet')}}   <a href="{{constant('BASE_URL')}}contest/submission/{{contestInfo.contestSlug }}">{{ t('contest','Be the first!')}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div id="posts" class="row">
      {% for entry in entries %} 
        <div class="post span4">
          <div style="padding: 10px 10px;"><h6>{{ entry.title }}</h6></div>
            <a href="{{constant('BASE_URL')}}contest/entries/{{contestInfo.contestSlug }}/{{entry.id}}"><img src= "{{constant('BASE_URL')}}{{resizeByPath(entry.image,'600','450')}}" width="600" height="450" /></a>
          <div style="padding: 10px 10px; vertical-align:bottom;"> di {{ entry.author.name }} </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
    
</div>
    
<div id="loading-image">
  <center><img src="{{constant('BASE_URL')}}images/loader.gif" alt="loading image" /></center>
</div>   
<input type="hidden" value="{{entryCount}}" id="entryCount">
<script src="{{constant('BASE_URL')}}js/jquery.masonry.min.js"></script>
<script src="{{constant('BASE_URL')}}js/entry.js"></script>
<script>  
  $(document).ready(function() {
    $("#posts").masonry({
      itemSelector: '.post',
      isAnimated: true,
      columnWidth: function(containerWidth) {

        var width = $(window).width();
        var col = 200;


        if (width < 1200 && width >= 980) {
          col = 160;
        }
        else if (width < 980 && width >= 768) {
          col = 8;
        }

        return col;
      }
    });

  });
</script>