<div class="container maincontent">
  {% if entries is empty %}
    {% include  '/views/template/emptyEntryMessage.html' %}
  {% else %}  
    <div id="posts" class="row">
      {% for entry in entries %} 
        <div class="post span4">
          <div style="padding: 10px 10px;">
            <h6><a href="{{constant('BASE_URL')}}contest/entries/{{contestInfo.contestSlug }}/{{entry.id}}">{{ entry.title }}</a></h6>            
          </div>
          <a href="{{constant('BASE_URL')}}contest/entries/{{contestInfo.contestSlug }}/{{entry.id}}">
            <img src= "{{constant('BASE_URL') ~ resizeByPath(entry.videoImagePath,'600','450')}}" width="600" height="450" />
          </a>          
          <div style="padding: 10px 10px 0px 10px; vertical-align:bottom;"> di {{ entry.author.name }} </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}    
</div>    
<div id="loading-image">
  <center><img src="{{constant('BASE_URL')}}images/loader.gif" alt="loading image" /></center>
</div>   
<script type="text/javascript"> 
  var page = {
    loadContestEntryUrl : "{{constant('BASE_URL')}}contest/entries/{{ contestInfo.contestSlug }}"
  };
</script>
<input type="hidden" value="{{entryCount}}" id="entryCount">
<script src="{{constant('BASE_URL')}}js/jquery.masonry.min.js"></script>
<script src="{{constant('BASE_URL')}}js/fallingWalls.js"></script>
