<div class="darkfooter">
  <div class="container">
    <footer>
      <div class="row">
        <div class="span4">
          <span class="footer-header">IL SERVIZIO</span>
          <p style="margin-top:15px;"><a href="#" class="footer-link">Cos’è ruzuku</a></p>
          <p style="margin-top:20px;"><a href="#" class="footer-link">Crea il tuo contest</a></p>
          <p style="margin-top:20px;"><a href="#" class="footer-link">Crea il tuo grant</a></p>
          <p style="margin-top:20px;"><a href="#" class="footer-link">FAQ</a></p>
        </div>
        <div class="span4">
          <span class="footer-header">SEGUICI</span>
          <p style="margin-top:15px;"><div style="color:#323232; background-color:#f5f5f5; height:30px"><img src="{{constant('BASE_URL')}}images/social_30x30/fb_grey.png" width="30" height="30" alt="facebook" style="border-right:solid #3c3c3c 5px"> <a href="#" class="footer-link2">ruzuku-un servizio di fondazione ahref</a></div></p>
          <p style="margin-top:5px;"><div style="color:#323232; background-color:#f5f5f5; height:30px"><img src="{{constant('BASE_URL')}}images/social_30x30/twitter_grey.png" width="30" height="30" alt="twitter" style="border-right:solid #3c3c3c 5px"> @ruzuku_ahref</div></p>
          <p style="margin-top:5px;"><div style="color:#323232; background-color:#f5f5f5; height:30px"><img src="{{constant('BASE_URL')}}images/social_30x30/linkedin_grey.png" width="30" height="30" alt="linkedin" style="border-right:solid #3c3c3c 5px"> Fondazione Ahref &gt; servizi &gt; ruzuku</div></p>
        </div>

        <div class="span4">
          <span class="footer-header">TWEETS</span>
          <div style="margin-top:15px;">
            <div class="tweetbox"><p class="tweet">ReuseYourGarbage ha pubblicato &quot;Linea Zely'&quot; <a href="#" class="footer-link3">https://t.co/d79EHDHuT8 </a><br>
                <span class="tweettime">3 giorni, 4 ore fa</span></p></div>
            <div class="tweetbox"><p class="tweet">ReuseYourGarbage ha pubblicato &quot;Linea Zely'&quot; https://t.co/d79EHDHuT8 <br>
                <span class="tweettime">3 giorni, 4 ore fa</span></p></div>
          </div>
        </div>
      </div>
    </footer>
  </div> 
</div>

<div class="blackfooter">
  <div class="container">
    <div class="row">
      <div class="span12">
        Text can go here
      </div>
    </div>
  </div>
 </div>