<div class="darkfooter">
  <div class="container">
    <footer>
      <div class="row">
        <div class="span4">
          <span class="footer-header">IL SERVIZIO</span>
          <p style="margin-top:15px;"><a href="#" class="footer-link">Cos’è ruzuku</a></p>
          <p style="margin-top:20px;"><a href="#" class="footer-link">Crea il tuo contest</a></p>
          <p style="margin-top:20px;"><a href="#" class="footer-link">Crea il tuo grant</a></p>
          <p style="margin-top:20px;"><a href="#" class="footer-link">FAQ</a></p>
        </div>
        <div class="span4">
          <span class="footer-header">SEGUICI</span>
          <p style="margin-top:15px;"><div style="color:#323232; background-color:#f5f5f5; height:30px"><img src="{{constant('BASE_URL')}}images/social_30x30/fb_grey.png" width="30" height="30" alt="facebook" style="border-right:solid #3c3c3c 5px"> <a href="http://facebook.com/{{ constant('FACEBOOK_USERNAME') }}" class="footer-link2">{{ constant('FACEBOOK_USERNAME') }}</a></div></p>
          <p style="margin-top:5px;"><div style="color:#323232; background-color:#f5f5f5; height:30px"><img src="{{constant('BASE_URL')}}images/social_30x30/twitter_grey.png" width="30" height="30" alt="twitter" style="border-right:solid #3c3c3c 5px"> <a href="http://twitter.com/{{ constant('TWITTER_USERNAME') }}" class="footer-link2">{{ constant('TWITTER_USERNAME') }}</a></div></p>
          <p style="margin-top:5px;"><div style="color:#323232; background-color:#f5f5f5; height:30px"><img src="{{constant('BASE_URL')}}images/social_30x30/linkedin_grey.png" width="30" height="30" alt="linkedin" style="border-right:solid #3c3c3c 5px">{{ constant('TWITTER_USERNAME') }}</div></p>
        </div>

        <div class="span4">
          <span class="footer-header">TWEETS</span>
          <div style="margin-top:15px;">
            {{ getTweets(constant('TWITTER_USERNAME')) }}
          </div>
        </div>
      </div>
    </footer>
  </div> 
</div>

<div class="blackfooter">
  <div class="container">
    <div class="row">
      <div class="span12">
       Creative Commons 2012 Fondazione &LeftArrow;ahref | Sede legale: Vicolo Dallapiccola 12 - 38122 Trento - Italy | P.IVA 02178080228 | 
      </div>
    </div>
  </div>
 </div>