<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="brand" href="#"> <img src="{{constant('BASE_URL')}}images/civiclinkslogo.png" width="116" height="24" alt="logo"></a>
      <div class="nav-collapse collapse"> 
        {% set base_url = constant('BASE_URL') %} 
        {{ this.widget('zii.widgets.CMenu',{
          'htmlOptions' : {'class' : 'nav'},
          'items':[
            {'label':'Fact Checking', 'url':['#']},
            {'label':'Timu', 'url': ['#']},
            {'label':'Civic Links', 'url':['#']},
            {'label':'Contest and Grants', 'url':base_url}
          ]}, true) 
        }}
        
        {% if App.session is not empty %}
          <ul class="nav pull-right" > 
            <li><a>Welcome: {{  App.session.user.firstname }} {{  App.session.user.lastname }}</a></li>
            <li><a href="{{constant('BASE_URL')}}logout">Logout</a></li>
          </ul>
        {% else %}
          <ul class="nav pull-right visible-desktop"> 
            <li><a href="javascript:$.pageslide({ direction: 'left', href: '{{constant('BASE_URL')}}login' })">Login</a></li>
          </ul>
          <a href="javascript:$.pageslide({ direction: 'left', href: '{{constant('BASE_URL')}}register' })" class="btn pull-right visible-desktop">Sign Up</a> 
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container maincontent">
  <div class="row">
    <div class="span12">
      <img src="{{constant('BASE_URL')}}images/fact-checking.png" width="225" height="43" alt="fact" style="margin-bottom:20px;">
      <div class="navbar pull-right">
  	<div class="navbar-inner">
          <ul class="nav">
            <li><a href="{{constant('BASE_URL')}}">Home</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Che Fare
              <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
                <li><a href="{{constant('BASE_URL')}}contest/entries">Entries</a></li>
                <li><a href="#">Brief</a></li>
                <li><a href="#">Submit</a></li>
                <li><a href="#">Winners</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>  