<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#"> <img src="{{constant('BASE_URL')}}images/civiclinkslogo.png" width="116" height="24" alt="logo"></a>
      <div class="nav-collapse collapse"> 
        <ul class="nav">
          <li class="hidden-desktop"><a href="javascript:$.pageslide({ direction: 'left', href: '{{constant('BASE_URL')}}login' })">Login</a></li>
          <li class="hidden-desktop"><a href="javascript:$.pageslide({ direction: 'left', href: '{{constant('BASE_URL')}}register' })">Sign Up</a></li>
          <li><a href="#">Fact Checking</a></li>
          <li><a href="#">Timu</a></li>
          <li><a href="#">Civic Links</a>
          <li class="active"><a href="#">Contest and Grants</a></li>
        </ul>
        <ul class="nav pull-right visible-desktop">
          <li><a href="javascript:$.pageslide({ direction: 'left', href: '{{constant('BASE_URL')}}login' })">Login</a></li>
        </ul>
        <a href="javascript:$.pageslide({ direction: 'left', href: '{{constant('BASE_URL')}}register' })" class="btn pull-right visible-desktop">Sign Up</a> 
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12" style="margin-bottom:20px; position:relative;">
      <div style=" border-bottom:#4cbed7 solid 1px; float:left; width:100%; ">
        <img src="{{constant('BASE_URL')}}images/ruzuku.png" width="159" height="60" alt="fact" style="border-right:#FFF solid 5px; border-bottom:#FFF solid 3px; position:absolute; top:2px;">
        <div class="candg pull-right">
          <ul class="navcandg">
            <li><a href="{{constant('BASE_URL')}}" class="candgselected">Home</a></li>
            <li><a href="#" >Contest</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>