<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="https://www.civiclinks.it/"> <img src="{{constant('BASE_URL')}}images/civiclinkslogo.png" width="116" height="24" alt="logo"></a>
      <div class="nav-collapse collapse">
      {% if App.session is not empty %}
       {{ this.widget('zii.widgets.CMenu',{
          'htmlOptions' : {'class' : 'nav'},
          'items':[
            {'label':'Fact Checking', 'url':'https://factchecking.civiclinks.it/'},
            {'label':'Timu', 'url': 'https://timu.civiclinks.it/'},
            {'label':'Civic Links', 'url':'https://www.civiclinks.it/'},
            {'label':constant('SITE_NAME'), 'url':constant('BASE_URL')}
          ]}, true) 
        }}
      {% else %}
        {{ this.widget('zii.widgets.CMenu',{
          'htmlOptions' : {'class' : 'nav'},
          'items':[
            {'label': t('contest', 'Login'), 'url': "#",'itemOptions': {'class':'hidden-desktop login-link'}},
            {'label': t('contest', 'Sign Up'), 'url': "#", 'itemOptions': {'class':'hidden-desktop register-link'}},
            {'label':'Fact Checking', 'url':'https://factchecking.civiclinks.it/'},
            {'label':'Timu', 'url': 'https://timu.civiclinks.it/'},
            {'label':'Civic Links', 'url':'https://www.civiclinks.it/'},
            {'label':constant('SITE_NAME'), 'url':constant('BASE_URL')}
          ]}, true) 
        }}
      {% endif %}
             
        {% if App.session is not empty %}
          <ul class="nav pull-right" > 
            <li><a>{{ t('contest', 'Welcome') }}: {{  App.session.user.firstname }} {{  App.session.user.lastname }}</a></li>
            <li><a href="{{constant('BASE_URL')}}logout">{{ t('contest', 'Logout') }}</a></li>
          </ul>
        {% else %}
          <ul class="nav pull-right visible-desktop"> 
            <li class="login-link"><a href="#">{{ t('contest', 'Login') }}</a></li>
          </ul>
          <a href="#" class="btn pull-right visible-desktop register-link">{{ t('contest', 'Sign Up') }}</a> 
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12" style="margin-bottom:20px; position:relative;">
      <div style=" border-bottom:#4cbed7 solid 1px; float:left; width:100%;min-height:60px; ">
        <a href="{{constant('BASE_URL')}}"><img src="{{constant('BASE_URL')}}images/logo.png"  alt="fact" style="border-right:#FFF solid 5px; border-bottom:#FFF solid 3px; position:absolute; top:2px;"></a>
        <div class="candg pull-right">
          <ul class="navcandg hidden-phone">
            <li id="home"><a href="{{constant('BASE_URL')}}" class="candgselected">{{ t('contest', 'Home') }}</a></li>
            <li id="createContest">
              {% set firstContestSlug = '' %}
              {% set firstContestSlug = getFirstContest() %}
              {% if firstContestSlug is not empty %}
                <a href="{{constant('BASE_URL')}}contest/{{firstContestSlug}}">
              {%else%}
                <a href="#">
              {%endif%}
              Contest</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>