<link rel="stylesheet" href="{{constant('BASE_URL')}}css/jquery-ui-1.8.21.custom.css">

<div class="container darkheader">
  <div class="row">
    <div class="span12"><h1> {{ t('contest', 'Create Contest') }}</h1></div>
  </div>
</div>
<div class="container maincontent">
  <form class="form-create-contest" action="{{constant('BASE_URL')}}admin/contest/add" method="post"  enctype = "multipart/form-data">
    {% set class = 'alert-error' %}
    {% if message.msg is not empty %}
      {% if message.success is not empty %}
        {% set class = 'alert-success' %}
      {% endif %}      
    {% endif %}
    <div class="{{class}}" id="error">
      {% if message.msg is not empty %}
        {{ message.msg }}
      {% endif %}  
    </div>
    <label>{{ t('contest', 'contest Title') }}</label>
    {% set contestTitle = '' %}
    {% if contest is not empty %}
      {% if contest.contestTitle is not empty %}
        {% set contestTitle = contest.contestTitle %}
      {% endif %}
    {% endif %}
    <input type="text" id="contestTitle" class="input-block-level" name="contestTitle"  value="{{contestTitle}}">
    <label>{{ t('contest', 'Start Date')}}</label>
    {% set startDate = '' %}
    {% if contest is not empty %}
      {% if contest.startDate is not empty %}
        {% set startDate = contest.startDate %}
      {% endif %}
    {% endif %}
    <input type="text" id="startDate" name="startDate" class="input-block-level"  value="{{startDate}}" />
    <label>{{ t('contest', 'End Date')}}</label>
    {% set endDate = '' %}
    {% if contest is not empty %}
      {% if contest.endDate is not empty %}
        {% set endDate = contest.endDate %}
      {% endif %}
    {% endif %}
    <input type="text" id="endDate" name="endDate" class="input-block-level" value="{{endDate}}" />
    <label>{{ t('contest', 'Upload Banner Image')}}</label>
    <input type="file"  class="input-block-level" id="image" name="image" />
    <label>{{ t('contest', 'Upload Square Image')}}</label>
    <input type="file"  class="input-block-level" id="squareImage" name="squareImage" />
    <label>{{ t('contest','Contest Description')}}</label>
    {% set contestDescription = '' %}
    {% if contest is not empty %}
      {% if contest.contestDescription is not empty %}
        {% set contestDescription = contest.contestDescription %}
      {% endif %}
    {% endif %}
    <textarea  class="input-block-level textarea" id="contestDescription" name="contestDescription">{{contestDescription}}</textarea> 
    <button id="create" class="btn btn-large btn-primary" type="submit" name='contestDetail'>{{ t('contest', 'create contest') }}</button>
  </form>
  <hr>
</div>  
<script src="{{constant('BASE_URL')}}js/jquery.ui.core.js"></script>
<script src="{{constant('BASE_URL')}}js/jquery.ui.datepicker.js"></script>
<script src="{{constant('BASE_URL')}}js/common.js"></script>
<script src="{{constant('BASE_URL')}}js/createContest.js"></script>