<div class="container">
  <div class="row">
    <div class="span12">
      <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT SIZE=4><B>LA
NOTTE DEI RICERCATORI 2013</B></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT SIZE=4><B>Concorso
fotografico “La ricerca in uno scatto“</B></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT SIZE=4><B>Regolamento
del Concorso </B></FONT>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0.14in"><BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=4><B>1.
Premesse </B></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
La Notte dei Ricercatori 2013 organizza un Concorso fotografico con
tema “<B>La ricerca in uno scatto</B>“. 
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
Cosa ti viene in mente pensando ai ricercatori? Dove si nasconde lo
spirito della ricerca nella vita quotidiana? Cosa significa “fare
ricerca” e quali sono i ritrovati della ricerca in cui ci
imbattiamo tutti i giorni? Riesci a rispondere a queste domande con
una fotografia? Partecipa al Concorso fotografico per La Notte dei
Ricercatori 2013 e mandaci il tuo scatto!</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
Fondazione &lt;ahref, istituzione di ricerca che si occupa di media
civici ed informazione online metterà a disposizione per il Concorso
fotografico la piattaforma web <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN>.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=4><B>2.
Modalità di partecipazione </B></FONT>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
Possono partecipare al Concorso tutte le persone fisiche (sono
esclusi gruppi di persone, aziende, associazioni etc.) purché
abbiano compiuto i quattordici anni d'età al momento della
partecipazione. La partecipazione è gratuita, e sarà possibile fino
alle ore <SPAN STYLE="background: #00ff00">12:00 del 10 settembre
2013</SPAN>.</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><A NAME=":w6"></A>
La partecipazione al Concorso si effettua tramite iscrizione sulla
piattafor<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>ma
</FONT></FONT></FONT><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN>,
alla pagina web dedicata <A HREF="http://lanottedeiricercatori.timu.it/">http://lanottedeiricercatori.timu.it/</A>
. Una volta creato il proprio profilo utente ed accettate le
Condizioni generali di Servizio e l'Informativa sulla Privacy della
piattaforma, sarà possibile caricare la foto partecipante
nell'apposita storia “La Notte dei Ricercatori 2013”. 
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
La partecipazione al Concorso è subordinata all'accettazione
integrale delle norme contenute nel presente Regolamento, delle
Condizioni generali di Servizio e dell'Informativa sulla Privacy
sopra citate,  oltre che del giudizio della giuria, che è
insindacabile.</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
Per i minorenni, l'iscrizione a <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN>
e l'upload della foto partecipante dovranno essere effettuati da un
genitore esercente la parentale potestà o dal tutore, in nome e per
conto del minorenne legalmente rappresentato, titolare del diritto
d'autore e di ogni diritto di pubblicazione sulla foto partecipante.
Una volta caricata la foto da parte del maggiorenne responsabile,
questi dovrà altresì obbligatoriamente indicare il nome e cognome
del minore da lui rappresentato, autore della foto.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<BR><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0.14in; line-height: 150%">
<FONT SIZE=4><B>3</B><B>. Caratteristiche della </B><B>fotografia</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<B>E' ammessa al Concorso una sola fotografia per partecipante</B>.
La fotografia caricata dovrà presentare i seguenti requisiti
tecnici:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<SPAN STYLE="background: transparent">- dimensione: max 5 MB</SPAN></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<SPAN STYLE="background: transparent">- formati: .jpg, .png</SPAN></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
Il file dovrà essere obbligatoriamente accompagnato dal titolo, da
una breve descrizione dell'opera fotografica e, nel caso in cui
l'autore sia un minore, dall'indicazione del suo nome e cognome. Per
i maggiorenni, farà fede il nome indicato in fase di iscrizione a
<SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN>.</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<SPAN LANG="it-IT">In caso di partecipanti di minore età, la mancata
iscrizione </SPAN><SPAN LANG="it-IT">effettuata </SPAN><SPAN LANG="it-IT">da
parte del genitore legalmente responsabile o del tutore costituirà
motivo di esclusione dal Concorso.</SPAN></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=4><B>4.
Categorie</B></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
Il Concorso si articola in due categorie:</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
- CATEGORIA RAGAZZI: riservata a ragazzi che, alla data di iscrizione
a <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></FONT></FONT></FONT></SPAN>,
abbiano già compiuto i 14 anni d'età ma non abbiano ancora compiuto
i 18 anni, e siano dunque rappresentati dal genitore o dal tutore.</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
- CATEGORIA ADULTI: riservata ai maggiorenni.</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
 
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
 <FONT SIZE=4><B>5. Premi</B></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
Ai primi tre classificati di ciascuna categoria andranno dei premi
scelti dal mondo della scienza e della tecnologia.</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
I premi saranno i seguenti:</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
CATEGORIA RAGAZZI 
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
<SPAN STYLE="background: #00ff00">- 1<FONT FACE="Myriad Pro, sans-serif">°</FONT>premio:
xxx</SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
<SPAN STYLE="background: #00ff00">- 2<FONT FACE="Myriad Pro, sans-serif">°</FONT>
premio: xxx</SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
<SPAN STYLE="background: #00ff00">- 3<FONT FACE="Myriad Pro, sans-serif">°</FONT>
premio: xxx</SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
<SPAN STYLE="background: #00ff00">CATEGORIA ADULTI</SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
<SPAN STYLE="background: #00ff00">- 1<FONT FACE="Myriad Pro, sans-serif">°</FONT>
premio: xxx</SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
<SPAN STYLE="background: #00ff00">- 2<FONT FACE="Myriad Pro, sans-serif">°</FONT>
premio: xxx</SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
<SPAN STYLE="background: #00ff00">- 3<FONT FACE="Myriad Pro, sans-serif">°</FONT>
premio: xxx</SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
<BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.14in; font-weight: normal; line-height: 150%">
<FONT SIZE=4><B>6</B><B>.</B><B> </B><B>Giuria e </B><B>premiazione</B></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in">
<SPAN STYLE="background: #00ff00">La giuria sarà composta da 5
giurati/e in rappresentanza degli enti che promuovono La Notte dei
Ricercatori 2013.</SPAN></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
La giuria sceglierà con giudizio autonomo ed insindacabile <SPAN STYLE="background: transparent">le
3 fotografie</SPAN> vincitrici per ciascuna delle due categorie. La
comunicazione ai vincitori del Concorso avverrà il giorno <SPAN STYLE="background: #00ff00">gg/mm/2013</SPAN>
e sarà effettuata sia tramite e-mail all'indirizzo indicato in fase
di registrazione, sia mediante pubblicazione sulla pagina dedicata
della piattaforma <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN>.
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
La premiazione si svolgerà il 27 settembre 2013 durante l'evento La
Notte dei Ricercatori 2013. I dettagli della cerimonia saranno
comunicati in seguito. Tutti i partecipanti al Concorso saranno
graditi ospiti dell'evento.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=4><B><SPAN STYLE="background: #00ff00">7. Mostra</SPAN></B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<SPAN STYLE="background: #00ff00"><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">Durante
</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">La
Notte dei Ricercatori 2</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">013
del 27 settembre le fotografie saranno esposte in una mostra che
raccoglierà </SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">tutte
</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">le
opere pervenute.</SPAN></SPAN></SPAN></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<BR><BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0.14in; line-height: 150%">
<FONT SIZE=4><B>8. Diritti e liberatoria</B></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
Ciascun partecipante al Concorso garantisce di essere l'autore della
fotografia inviata, che essa è frutto esclusivo del proprio ingegno,
che possiede i requisiti di novità e originalità e che egli ne
detiene i diritti di pubblicazione e utilizzo in conformità al
presente Regolamento, contestualmente sollevando e manlevando
integralmente Notte dei Ricercatori 2013 ed <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN>
da qualsivoglia rivendicazione da parte di terzi in relazione alla
titolarità dei diritti d'autore, alla violazione dei diritti delle
persone rappresentate e di ogni altro diritto connesso alle opere
inviate. In caso di minorenni, tale garanzia è fornita dal legale
rappresentante (genitore o tutore), in nome e per conto del minore
rappresentato autore della foto.</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
Inviando la propria opera il partecipante concede a La Notte dei
Ricercatori 2013 e ad <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN>
i diritti di pubblicazione e di utilizzo della stessa nell'ambito del
Concorso. La Notte dei Ricercatori 2013 ed <SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN>
si riservano la facoltà di esporre e/o pubblicare, anche in momenti
successivi e non contestuali al Concorso le opere partecipanti allo
stesso, includendo citazione del nome dell'autore.<SPAN LANG="it-IT">
Tale liberatoria d'uso, di diffusione e di pubblicazione delle opere
partecipanti al Concorso viene concessa dai soggetti iscritti a
titolo gratuito, senza alcuna limitazione di carattere temporale o
territoriale, singolarmente od unitamente ad altro materiale, ed in
conformità alla licenza CC BY NC SA 3.0 IT ed alle Condizioni
generali di Servizio della piattaforma </SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="it-IT"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN><SPAN LANG="it-IT">.
In caso di minorenni, tale liberatoria è fornita dal legale
rappresentante (genitore o tutore), in nome e per conto del minore
rappresentato autore della foto.</SPAN></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=4><B>9.
Manifestazioni a premio</B></FONT></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">A norma
dell'art. 6 lettera a) del D.P.R. n. 430/2001 il </SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">c</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">oncorso
</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">“</SPAN></SPAN><SPAN LANG="it-IT"><B>La
ricerca in uno scatto</B></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">“</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">
non costituisce una manifestazione a premio in quanto ha ad oggetto
“...la produzione di opere letterarie, artistiche o scientifiche
(…) ne</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">lle
</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">quali
il conferimento del premio all'autore dell'opera prescelta (…)
rappresenta il riconoscimento del merito personale o un titolo
d'incoraggiamento nell'interesse della collettività”.  </SPAN></SPAN>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=4><B>10.Informativa
sulla Privacy</B></FONT></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">L’utente che
invia una fotografia per la partecipazione al Concorso dichiara di
autorizzare il trattamento dei suoi dati personali, liberamente
forniti, per le finalità relative all'accesso al Servizio e alla
partecipazione al Concorso, in conformità all'Informativa sulla
Privacy della piattaforma </SPAN></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="it-IT"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">.</SPAN></SPAN></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">Tutti i dati
personali forniti dagli utenti saranno trattati da La Notte dei
Ricercatori 2013 e da </SPAN></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="it-IT"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">
nel pieno rispetto delle normative vigenti e delle disposizioni
contenute nel D.Lgs. 196/2003 (“Codice in materia di protezione dei
dati personali”). Nessun dato personale degli utenti sarà fornito
a società esterne o a terzi per nessun motivo. Nel caso in cui
l’utente fornisca volontariamente </SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">tramite
contributi personali dati considerati sensibili riguardanti lo stesso
utente, La Notte dei Ricercatori e </SPAN></SPAN><SPAN STYLE="font-variant: normal"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="it-IT"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">storygrant.it</SPAN></SPAN></SPAN></SPAN></FONT></FONT></FONT></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">
dichiarano che in nessun caso e per nessun motivo faranno uso di tali
dati.</SPAN></SPAN></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">I Con</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">t</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">itolari
del trattamento dei dati personali sono </SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">F</SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">ondazione
&lt;ahref, con sede in Vicolo Dallapiccola 12, 38122 Trento </SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">e
Fondazione Bruno Kessler, con sede in Via Santa Croce 77, 38122
Trento.</SPAN></SPAN></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
<SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">Ai sensi
dell’art. 7 D.Lgs. 196/2003 i soggetti cui si riferiscono i dati
personali hanno, in qualunque momento, il diritto di ottenere la
conferma dell’esistenza dei dati stessi e di conoscerne il
contenuto e l’origine, verificarne l’esattezza o chiederne
l’integrazione, l’aggiornamento o la rettifica. Ai sensi del
medesimo articolo, tali soggetti hanno il diritto di chiedere la
cancellazione, la trasformazione in forma anonima o il blocco dei
dati trattati in violazione delle disposizioni di legge, nonché di
opporsi, in ogni caso, per motivi legittimi al loro trattamento. Per
esercitare questi diritti è possibile scrivere all’indirizzo:
</SPAN></SPAN><A HREF="mailto:info@ahref.eu">info@</A><A HREF="mailto:info@ahref.eu">ahref.eu</A><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal">
e </SPAN></SPAN><SPAN LANG="it-IT"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #00ff00">xxx@fbk.eu.</SPAN></SPAN></SPAN></P>
<DIV TYPE=FOOTER>
	<P LANG="en-GB" ALIGN=CENTER STYLE="margin-top: 0.35in; margin-bottom: 0in; line-height: 0.07in">
	<SDFIELD TYPE=PAGE SUBTYPE=RANDOM FORMAT=PAGE>5</SDFIELD></P>
</DIV>

    </div>
  </div>
</div>