<link href="{{constant('BASE_URL')}}css/bootstrap-fileupload.css" rel="stylesheet">
<div style="background-color:#f5f5f5; height:120px;">
  <div class="container">
    <div class="row">
      <div class="span12"><h1 class="innerpagetitle">{{ contestInfo.contestTitle }}</h1></div>
    </div>
  </div> 
</div>
<div class="container maincontent">
  <div class="row hidden-tablet hidden-phone">
    <div class="span8" style="background-color: #666; position:relative; min-height:338px; ">
      <img src="{{constant('BASE_URL')}}{{contestInfo.imagePath}}" width="770" height="422" alt="test">
    </div>
    <div class="span4">
      <div class="internal-blue-box">
        <h4>{{ t('contest', 'Start Date')}}: {{ contestInfo.startDate }}<br>
          {{ t('contest', 'End Date')}}: {{ contestInfo.endDate }}</h4>
        <hr />
        <hr />
        <p class="internal-blue-box-text">{{ contestInfo.briefDescription }}</p></div>
    </div>
  </div>

  <div class="row visible-tablet visible-phone">
    <div class="span6" style="background-color: #666; position:relative; min-height:338px; ">
      <img src="{{constant('BASE_URL')}}{{contestInfo.squareImage}}" width="750" height="750" alt="test">
    </div>
    <div class="span6">
      <div class="internal-blue-box">
        <h4>{{ t('contest', 'Start Date')}}: {{ contestInfo.startDate }}<br>
          {{ t('contest', 'End Date')}}: {{ contestInfo.endDate }}</h4>  
        <p class="internal-blue-box-text">{{ contestInfo.briefDescription }}</p></div>
    </div>
  </div>
</div> 
<div style="background-color:#4cbed7; margin-top:25px; margin-bottom:25px;">
  <div class="container">
    <div class="row">   
      <div class="span3">
        <input type='hidden' id="submitContestEntry" value="{{constant('BASE_URL')}}contest/entries/{{ contestInfo.contestSlug }}">
        <input type='hidden' id="entryCategory" value="{{selectedCategory}}" />
        <a href="{{constant('BASE_URL')}}contest/entries/{{ contestInfo.contestSlug }}" class="contest-button btn-block active">PARTECIPANTI</a>
      </div>       
      <div class="span3">
        <a href="{{constant('BASE_URL')}}contest/brief/{{ contestInfo.contestSlug }}" class="contest-button btn-block ">REGOLAMENTO</a>        
      </div>        
      <div class="span3">
        <a href="{{constant('BASE_URL')}}contest/submission/{{ contestInfo.contestSlug }}"  class="contest-button btn-block">PARTECIPA</a>
      </div> 
      {% if contestInfo.winnerStatus == 1 %}
        <div class="span3">
          <a href="{{constant('BASE_URL')}}contest/winner/{{ contestInfo.contestSlug }}"  class="contest-button btn-block">VINCITORI</a>
        </div>
      {% endif %}
    </div> 
  </div>
</div>
<div id="contestEntries">
  {% if contestInfo.contestSlug == constant('FIRST_CONTEST_SLUG') %}
    {% include  '/views/template/entries.html' %}
  {% elseif contestInfo.contestSlug == constant('FALLING_WALLS_CONTEST_SLUG') %}
    {% include  '/views/template/fallingWallEntries.html' %}
  {% endif %}
</div>
<script src="{{constant('BASE_URL')}}js/contest.js"></script>
<script src="{{constant('BASE_URL')}}js/bootstrap-fileupload.js"></script>
