<link rel="stylesheet" href="{{constant('BASE_URL')}}css/jquery-ui-1.8.21.custom.css">

<div class="container darkheader">
  <div class="row">
    <div class="span12"><h1> Create Contest</h1></div>
  </div>
</div>
<div class="container maincontent">
  <form class="form-create-contest" action="{{constant('BASE_URL')}}contest/add" method="post"  enctype = "multipart/form-data">
    {% if message.msg is not empty %}
      {% set class = 'alert-error' %}    
      {% if message.success is not empty %}
        {% set class = 'alert-success' %}
      {% endif %}
      <span class="{{class}}">
        {{ message.msg }}
      </span>
    {% endif %}
    <label>Contest Title</label>
    <input type="text" class="input-block-level" name="contestTitle" required placeholder="contest Title">
    <label>Start Date</label>
    <input type="text" name="startDate" class="input-block-level" id="start_date" required placeholder ="Stat Date" />
    <label>End Date</label>
    <input type="text" name="endDate" class="input-block-level" id="end_date"  required placeholder ="End Date" />
    <label>Upload Image</label>
    <input type="file" required class="input-block-level" name="image" />
    <label>Contest Description</label>
    <textarea  class="input-block-level textarea" name="contestDescription" required placeholder="Contest Description" ></textarea> 
    <button class="btn btn-large btn-primary" type="submit" name='contestDetail'>create contest</button>
  </form>
  <hr>
</div>  
<script src="{{constant('BASE_URL')}}js/jquery.ui.datepicker.js"></script>
<script src="{{constant('BASE_URL')}}js/jquery.ui.core.js"></script>
<script src="{{constant('BASE_URL')}}js/common.js"></script>