<link href="{{constant('BASE_URL')}}css/bootstrap-fileupload.css" rel="stylesheet">
<div style="background-color:#f5f5f5; height:120px;">
  <div class="container">
    <div class="row">
      <div class="span12"><h1 class="innerpagetitle">{{ contestInfo.contestTitle }}</h1></div>
    </div>
  </div> 
</div>

<div class="container maincontent">

  <div class="row">
    <div class="span8" style="background-color: #666; position:relative; min-height:338px; ">
      <img src="{{constant('BASE_URL')}}{{resizeByPath(contestInfo.imagePath,'800','350')}}" width="800" height="351" alt="test">
      <div style="position:absolute; top:215px; width:100%; text-align:right;">
        <img src="{{constant('BASE_URL')}}images/facebook.png" width="30px" height="30px" alt="facebook" class="social-media-icons"><br>
        <img src="{{constant('BASE_URL')}}images/twitter.png" width="30px" height="30px" alt="twitter" class="social-media-icons"><br>
        <img src="{{constant('BASE_URL')}}images/rss.png" width="30px" height="30px" alt="rss" class="social-media-icons">
      </div>
    </div>
    <div class="span4">
      <div style="background-color:#4cbed7; min-height:308px; padding: 15px 20px;">
        <h4>Start Date: {{ contestInfo.startDate }}<br>
          End Date: {{ contestInfo.endDate }}</h4>
        <p style="color:#FFFFFF; font-size:18px; line-height:26px;">{{ contestInfo.briefDescription }}</p></div>
    </div>
  </div>
</div> 

<div style="background-color:#4cbed7; margin-top:25px; margin-bottom:25px;">
  <div class="container">
    <div class="row">   
      <div class="span3">
        <a  class="contest-button btn-block" href="{{constant('BASE_URL')}}contest/{{contestInfo.contestSlug}}">REGOLAMENTO</a>        
      </div>        
      <div class="span3">
        <a href="{{constant('BASE_URL')}}contest/submission/{{contestInfo.contestSlug}}" class="contest-button btn-block active">ISCRIVITI!</a>
      </div> 
    </div> 
  </div>
</div>
<div id="entrySubmission">
  {% if isEntrySubmit == 0 %}
    {% set showsubmit = 1 %}
    {% if message.msg is not empty %}
      {% if message.success is not empty %}
         {% set showsubmit = 0%}
         {% include  '/views/contest/submissionSuccessMessage.html' %}
      {% endif %}
    {% endif %}
    {% if showsubmit == 1 %}
        {% include  '/views/contest/entrySubmission.html' %}
    {% endif %}
  {% else %}
    {% include  '/views/contest/entryAlreadySubmited.html' %}
  {% endif %}  
  
</div>
<script src="{{constant('BASE_URL')}}js/contest.js"></script>
<script src="{{constant('BASE_URL')}}js/bootstrap-fileupload.js"></script>
