<div class="container">
  <div class="row">
    <div class="span12 rule-nottericercatori">

      <p class="mylead">LA NOTTE DEI RICERCATORI 2013</p>

      <p class="mylead">Concorso fotografico “La ricerca in uno scatto”</p>

      <p class="mylead">Regolamento del Concorso</p>

      <h3>1. Premesse</h3>

      <p>La Notte dei Ricercatori 2013 organizza un Concorso fotografico con
      tema “<b>La ricerca in uno scatto</b>“.</p>

      <p>Cosa ti viene in mente pensando ai ricercatori? Dove si nasconde lo
      spirito della ricerca nella vita quotidiana? Cosa significa “fare ricerca”
      e quali sono i ritrovati della ricerca in cui ci imbattiamo tutti i
      giorni?  Riesci a rispondere a queste domande con una fotografia?
      Partecipa al Concorso fotografico per La Notte dei Ricercatori 2013 e
      mandaci il tuo scatto!</p>

      <p>Fondazione &lt;ahref, istituzione di ricerca che si occupa di media
      civici ed informazione online metterà a disposizione per il Concorso
      fotografico la piattaforma web <a href="http://storygrant.it">storygrant.it</a>.</p>

      <h3>2. Modalità di partecipazione</h3>

      <p>Possono partecipare al Concorso tutte le persone fisiche (sono esclusi
      gruppi di persone, aziende, associazioni etc.) purché abbiano compiuto i
      quattordici anni d'età al momento della partecipazione. La partecipazione
      è gratuita, e sarà possibile fino alle ore 12:00 del 10 settembre
      2013.</p>

      <p>La partecipazione al Concorso si effettua tramite iscrizione sulla
      piattaforma <a href="http://storygrant.it">storygrant.it</a>, alla pagina
      web dedicata http://lanottedeiricercatori.timu.it/ . Una volta creato il
      proprio profilo utente ed accettate le Condizioni generali di Servizio e
      l'Informativa sulla Privacy della piattaforma, sarà possibile caricare la
      foto partecipante nell'apposita storia “La Notte dei Ricercatori
      2013”.</p>

      <p>La partecipazione al Concorso è subordinata all'accettazione integrale
      delle norme contenute nel presente Regolamento, delle Condizioni generali
      di Servizio e dell'Informativa sulla Privacy sopra citate, oltre che del
      giudizio della giuria, che è insindacabile.</p>

      <p>Per i minorenni, l'iscrizione
      a <a href="http://storygrant.it">storygrant.it</a> e l'upload della foto
      partecipante dovranno essere effettuati da un genitore esercente la
      parentale potestà o dal tutore, in nome e per conto del minorenne
      legalmente rappresentato, titolare del diritto d'autore e di ogni diritto
      di pubblicazione sulla foto partecipante. Una volta caricata la foto da
      parte del maggiorenne responsabile, questi dovrà altresì obbligatoriamente
      indicare il nome e cognome del minore da lui rappresentato, autore della
      foto.</p>

      <h3>3. Caratteristiche della fotografia</h3>

      <p><b>È ammessa al Concorso una sola fotografia per partecipante</b>. La
      fotografia caricata dovrà presentare i seguenti requisiti tecnici:</p>

      <ul>
	<li>dimensione: max 5 MB</li>
        <li>formati: .jpg, .png</li>
      </ul>

      <p>Il file dovrà essere obbligatoriamente accompagnato dal titolo, da una
      breve descrizione dell'opera fotografica e, nel caso in cui l'autore sia
      un minore, dall'indicazione del suo nome e cognome. Per i maggiorenni,
      farà fede il nome indicato in fase di iscrizione
      a <a href="http://storygrant.it">storygrant.it</a>.</p>

      <p>In caso di partecipanti di minore età, la mancata iscrizione effettuata
      da parte del genitore legalmente responsabile o del tutore costituirà
      motivo di esclusione dal Concorso.</p>

      <h3>4. Categorie</h3>

      <p>Il Concorso si articola in due categorie:</p>

      <ul>
	<li>CATEGORIA RAGAZZI: riservata a ragazzi che, alla data di iscrizione
	a <a href="http://storygrant.it">storygrant.it</a>, abbiano già compiuto
	i 14 anni d'età ma non abbiano ancora compiuto i 18 anni, e siano dunque
	rappresentati dal genitore o dal tutore.</li>

	<li>CATEGORIA ADULTI: riservata ai maggiorenni.</li>
      </ul>

      <h3>5. Premi</h3>

      <p>Ai primi tre classificati di ciascuna categoria andranno dei premi
      scelti dal mondo della scienza e della tecnologia.</p>

      <p>I premi saranno i seguenti:</p>

      <p>CATEGORIA RAGAZZI</p>

      <ul>
	<li>1°premio: Buono acquisto online – entrata al Museo delle Scienze per
        la classe del partecipante oppure visita ai laboratori della Fondazione
        Bruno Kessler per la classe scolastica del partecipante</li>

	<li>2° premio: Buono acquisto online – entrata al Museo delle Scienze
        per la classe del partecipante oppure visita ai laboratori della
        Fondazione Bruno Kessler per la classe scolastica del partecipante</li>

        <li>3° premio: Buono acquisto online – entrata al Museo delle Scienze
        per la classe del partecipante oppure visita ai laboratori della
        Fondazione Bruno Kessler per la classe scolastica del partecipante</li>
      </ul>

      <p>CATEGORIA ADULTI</p>

      <ul>
        <li>1° premio: Buono acquisto online</li>
        <li>2° premio: Buono acquisto online</li>
        <li>3° premio: Buono acquisto online</li>
      </ul>

      <h3>6. Giuria e premiazione</h3>

      <p>La giuria sarà composta da 5 giurati/e in rappresentanza degli enti che
      promuovono La Notte dei Ricercatori 2013.</p>

      <p>La giuria sceglierà con giudizio autonomo ed insindacabile le 3
      fotografie vincitrici per ciascuna delle due categorie. La comunicazione
      ai vincitori del Concorso avverrà entro il giorno 26/09/2013 e sarà
      effettuata sia tramite e-mail all'indirizzo indicato in fase di
      registrazione, sia mediante pubblicazione sulla pagina dedicata della
      piattaforma <a href="http://storygrant.it">storygrant.it</a>.</p>

      <p>La premiazione si svolgerà il 27 settembre 2013 durante l'evento La
      Notte dei Ricercatori 2013. I dettagli della cerimonia saranno comunicati
      in seguito. Tutti i partecipanti al Concorso saranno graditi ospiti
      dell'evento.</p>

      <h3>7. Mostra</h3>

      <p>Durante La Notte dei Ricercatori 2013 del 27 settembre 2013 le
      fotografie saranno esposte in una mostra che raccoglierà tutte le opere
      pervenute.</p>

      <h3>8. Diritti e liberatoria</h3>

      <p>Ciascun partecipante al Concorso garantisce di essere l'autore della
      fotografia inviata, che essa è frutto esclusivo del proprio ingegno, che
      possiede i requisiti di novità e originalità e che egli ne detiene i
      diritti di pubblicazione ed utilizzo in conformità al presente
      Regolamento, contestualmente sollevando e manlevando integralmente Notte
      dei Ricercatori 2013 e <a href="http://storygrant.it">storygrant.it</a> da
      qualsivoglia rivendicazione da parte di terzi in relazione alla titolarità
      dei diritti d'autore, alla violazione dei diritti delle persone
      rappresentate e di ogni altro diritto connesso alle opere inviate. In caso
      di minorenni, tale garanzia è fornita dal legale rappresentante (genitore
      o tutore), in nome e per conto del minore rappresentato autore della
      foto.</p>

      <p>Inviando la propria opera il partecipante concede alla Fondazione Bruno
      Kessler e a <a href="http://storygrant.it">storygrant.it</a> tutti i
      diritti sull’opera, ad eccezione del diritto di esserne riconosciuto
      autore. FBK e <a href="http://storygrant.it">storygrant.it</a> si
      riservano quindi, in via esemplificativa e non esaustiva, la facoltà di
      esporre e/o pubblicare, riprodurre anche parzialmente o cedere anche in
      momenti successivi e non contestuali al Concorso le opere partecipanti
      allo stesso, con indicazione del nome dell'autore.</p>

      <p>Tale cessione dei diritti, ad eccezione del diritto ad essere
      riconosciuto autore dell’opera, si intende a titolo gratuito, senza alcuna
      limitazione di carattere temporale o territoriale, singolarmente od
      unitamente ad altro materiale, ed in conformità alla licenza CC BY NC SA
      3.0 IT ed alle Condizioni generali di Servizio della piattaforma
      <a href="http://storygrant.it">storygrant.it</a>. In caso di minorenni,
      tale liberatoria è fornita dal legale rappresentante (genitore o tutore),
      in nome e per conto del minore rappresentato autore dell’opera.</p>

      <h3>9. Manifestazioni a premio</h3>

      <p>A norma dell'art. 6 lettera a) del D.P.R. n. 430/2001 il concorso “La
      ricerca in uno scatto“ non costituisce una manifestazione a premio in
      quanto ha ad oggetto “...la produzione di opere letterarie, artistiche o
      scientifiche (…) nelle quali il conferimento del premio all'autore
      dell'opera prescelta (…) rappresenta il riconoscimento del merito
      personale o un titolo d'incoraggiamento nell'interesse della
      collettività”.</p>

      <h3>10. Informativa sulla Privacy</h3>

      <p>L’utente che invia una fotografia per la partecipazione al Concorso
      dichiara di autorizzare il trattamento dei suoi dati personali,
      liberamente forniti, per le finalità relative all'accesso al Servizio ed
      alla partecipazione al Concorso, in conformità all'Informativa sulla
      Privacy della
      piattaforma <a href="http://storygrant.it">storygrant.it</a>.</p>

      <p>Tutti i dati personali forniti dagli utenti saranno trattati dalla
      Fondazione &lt;ahref e dalla Fondazione Bruno Kessler nel pieno rispetto
      delle normative vigenti e delle disposizioni contenute nel D.Lgs. 196/2003
      (“Codice in materia di protezione dei dati personali”). Nessun dato
      personale degli utenti sarà fornito a società esterne o a terzi per nessun
      motivo. Nel caso in cui l’utente fornisca volontariamente tramite
      contributi personali dati considerati sensibili riguardanti lo stesso
      utente, la Fondazione &lt;ahref e la Fondazione Bruno Kessler dichiarano
      che in nessun caso e per nessun motivo faranno uso di tali dati.</p>

      <p>Il titolare del trattamento dei dati personali è la Fondazione
      &lt;ahref, con sede in Vicolo Dallapiccola 12, 38122 Trento, con anche
      Responsabile del trattamento la Fondazione Bruno Kessler, con sede in Via
      Santa Croce 77, 38122 Trento.</p>

      <p>Ai sensi dell’art. 7 D.Lgs. 196/2003 i soggetti cui si riferiscono i
      dati personali hanno, in qualunque momento, il diritto di ottenere la
      conferma dell’esistenza dei dati stessi e di conoscerne il contenuto e
      l’origine, verificarne l’esattezza o chiederne l’integrazione,
      l’aggiornamento o la rettifica. Ai sensi del medesimo articolo, tali
      soggetti hanno il diritto di chiedere la cancellazione, la trasformazione
      in forma anonima o il blocco dei dati trattati in violazione delle
      disposizioni di legge, nonché di opporsi, in ogni caso, per motivi
      legittimi al loro trattamento. Per esercitare questi diritti è possibile
      scrivere all’indirizzo: <a href="mailto:info@ahref.eu">info@ahref.eu</a>
      ed <a href= "mailto:eventi@fbk.eu">eventi@fbk.eu</a>.</p>

    </div>
  </div>
</div>
