<div class="container">
  <div class="btn">
    <a href="{{constant('BASE_URL')}}admin/contest/add">{{ t('contest','create contest')}}</a>
  </div>
  <table class="container table table-bordered table-hover category-table">
    <thead>
      <tr>
        <th>{{ t('contest', 'contest Title') }}</th>
        <th>{{ t('contest', 'Start Date')}}</th>
        <th>{{ t('contest', 'End Date')}}</th>
        <th>{{ t('contest','Contest Description')}}</th>
        <th>{{ t('contest','Banner image')}}</th>
        <th>{{ t('contest','Square image')}}</div>
        <th>{{ t('contest','No of entry')}}</div>
        <th>{{ t('contest','Edit')}}</th>
        <th>{{ t('contest','Delete')}}</th>
        <th>{{ t('contest','Manage Category')}}</th>
        <th>{{ t('contest','Winner status')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for info in contestInfo %}
      <tr>
        <td>{{ info.contestTitle }}</td>
        <td>{{ info.startDate }}</td>
        <td>{{ info.endDate  }}</td>
        <td>{{ info.contestDescription }}</td>
        <td><img src="{{constant('BASE_URL')}}{{resizeByPath(info.imagePath,'100','500')}}" alt="contest image" /></td>
        <td><img src="{{constant('BASE_URL')}}{{resizeByPath(info.squareImage,'100','500')}}" alt="contest image" /></td>
        <td>{{info.entryCount}}<a href="{{constant('BASE_URL')}}admin/contest/entries/{{ info.contestSlug }}">   view</a></td>
        <td><a href="{{constant('BASE_URL')}}admin/contest/edit/{{ info.contestSlug }}">{{ t('contest','Edit')}}</a></td>
        <td class="deleteContest"><a href="{{constant('BASE_URL')}}admin/contest/delete/{{ info.contestSlug }}">{{ t('contest','Delete')}}</a></td>
        <td><a href="{{constant('BASE_URL')}}admin/category/{{ info.contestSlug }}">{{ t('contest','Manage Category')}}</a></td>
        {% set winner = t('contest', 'Show') %}
        {% if info.winnerStatus == 1 %}
          {% set winner = t('contest', 'Hide') %}
        {% endif %}
        <td class="winner-status" contestId="{{info.id}}">{{winner}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="{{constant('BASE_URL')}}js/deleteContest.js"></script>
  <script src="{{constant('BASE_URL')}}js/contest.js"></script>
  <script type="text/javascript">
    var page = { url : "{{constant('BASE_URL')}}admin/winner/status"};
  </script>