<div class="container">
  <div class="row">
    <div class="span12">
      <p class="mylead">{{ contestInfo.contestDescription }}</p>
      <h3>Prizes and visibility </h3>    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus, leo eu auctor faucibus, diam lectus mattis ante, et semper ante nisl in neque. Etiam ultricies orci non nisl molestie pharetra. Ut et nisi tellus. Vivamus eleifend fringilla scelerisque. Cras consectetur dictum pharetra. Aenean dapibus aliquet lacus, at ultricies nibh volutpat eu. Nunc lacus eros, placerat nec egestas sit amet, pharetra et tellus. Donec sollicitudin malesuada placerat. Sed nec egestas velit. Nam eget venenatis nibh. Nam cursus justo quis sem sodales rhoncus. Maecenas eget aliquam urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer augue justo, volutpat ut congue in, gravida eu ligula. Proin imperdiet nulla quis metus lacinia et commodo sapien posuere.</p>
                    
                  <p>Vivamus tortor turpis, pellentesque ac interdum ut, placerat sit amet quam. Curabitur porta laoreet diam at imperdiet. Duis eu vehicula massa. Nulla a mauris eros. Nam bibendum pellentesque nulla, eget sodales neque fermentum nec. Maecenas fringilla purus at diam pretium eget tincidunt risus rhoncus. Sed at arcu ligula. </p>
                    
                    
                    
                    <p>Vivamus tortor turpis, pellentesque ac interdum ut, placerat sit amet quam. Curabitur porta laoreet diam at imperdiet. Duis eu vehicula massa. Nulla a mauris eros. Nam bibendum pellentesque nulla, eget sodales neque fermentum nec. Maecenas fringilla purus at diam pretium eget tincidunt risus rhoncus. Sed at arcu ligula. </p>
                    
                    <h3>How to submit </h3>
                    
                    <p>Vivamus tortor turpis, pellentesque ac interdum ut, placerat sit amet quam. Curabitur porta laoreet diam at imperdiet. Duis eu vehicula massa. Nulla a mauris eros. Nam bibendum pellentesque nulla, eget sodales neque fermentum nec. Maecenas fringilla purus at diam pretium eget tincidunt risus rhoncus. Sed at arcu ligula. </p>
                    <br><br>
    </div>
  </div>
</div>