<link rel="stylesheet" href="{{constant('BASE_URL')}}css/jquery-ui-1.8.21.custom.css">

<div class="container darkheader">
  <div class="row">
    <div class="span12"><h1> {{ t('contest', 'Create Contest') }}</h1></div>
  </div>
</div>
<div class="container maincontent">
  <form class="form-create-contest" action="{{constant('BASE_URL')}}admin/contest/add" method="post"  enctype = "multipart/form-data">
    {% if message.msg is not empty %}
      {% set class = 'alert-error' %}
      {% set id = 'error' %}
      {% if message.success is not empty %}
        {% set class = 'alert-success' %}
      {% endif %}
      <span class="{{class}}">
        {{ message.msg }}
      </span>
    {% endif %}
    <div  class="alert-error" id="error"></div>
    <label>{{ t('contest', 'contest Title') }}</label>
    <input type="text" id="contestTitle" class="input-block-level" name="contestTitle"  placeholder="{{ t('contest', 'contest Title') }}">
    <label>{{ t('contest', 'Start Date')}}</label>
    <input type="text" id="startDate" name="startDate" class="input-block-level"  placeholder ="{{ t('contest', 'Start Date')}}" />
    <label>{{ t('contest', 'End Date')}}</label>
    <input type="text" id="endDate" name="endDate" class="input-block-level" placeholder ="{{ t('contest', 'End Date')}}" />
    <label>{{ t('contest', 'Upload Image')}}</label>
    <input type="file"  class="input-block-level" id="image" name="image" />
    <label>{{ t('contest','Contest Description')}}</label>
    <textarea  class="input-block-level textarea" id="contestDescription" name="contestDescription" placeholder="{{ t('contest','Contest Description')}}" ></textarea> 
    <button id="create" class="btn btn-large btn-primary" type="submit" name='contestDetail'>{{ t('contest', 'create contest') }}</button>
  </form>
  <hr>
</div>  
<script src="{{constant('BASE_URL')}}js/jquery.ui.core.js"></script>
<script src="{{constant('BASE_URL')}}js/jquery.ui.datepicker.js"></script>
<script src="{{constant('BASE_URL')}}js/common.js"></script>
<script src="{{constant('BASE_URL')}}js/createContest.js"></script>