<div class="container" style="padding-top:30px;">
  <div class="row">  
    {% if App.session is not empty %} 
    <div class="span8">
      <div class="entry-content-left">
        <div style="padding: 20px 40px;">          
          <form  action="" method="post"  enctype = "multipart/form-data">
            {% set class = 'alert-error' %}
            {% if message.msg is not empty %}
              {% if message.success is not empty %}
                {% set class = 'alert-success' %}
              {% endif %}      
            {% endif %}
            <div class="{{class}}" id="error">
              {% if message.msg is not empty %}
                {{ message.msg }}
              {% endif %}  
            </div>
            
            <h6 class="formtitle">Titolo</h6>
            <p><em>Inserisci un titolo coerente e preciso</em></p>
            {% set entityTitle = '' %}
            {% if postData is not empty %}
               {% if postData.entryTitle is not empty %}
                  {% set entityTitle = postData.entryTitle %}
               {% endif %}
            {% endif %}
            <textarea rows="3" class="input-block-level"   id="entryTitle" name="entryTitle">{{entityTitle}}</textarea>

            <h6 class="formtitle">Descrizione</h6>
            <p><em>Inserisci una descrizione coerente e completa</em></p>
            {% set entityDesc = '' %}
            {% if postData is not empty %}
               {% if postData.entryDescription is not empty %}
                  {% set entityDesc = postData.entryDescription %}
               {% endif %}
            {% endif %}
            <textarea rows="5" class="input-block-level"  id="entryDescription" name="entryDescription">{{entityDesc}}</textarea>
            <h6 class="formtitle">Immagine</h6>
            <p>
            <div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
              <div>
                <span class="btn btn-file"><span class="fileupload-new">{{ t('contest','Select image')}}</span>
                  <span class="fileupload-exists">{{ t('contest','Change')}}</span>
                  <input type="file" name="contestEntry" /></span>
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">{{ t('contest','Remove')}}</a>
              </div>
            </div><br><br>
            <h6 class="formtitle">Sono maggiorenne</h6>
            <label class="checkbox">
            {% set leftCheckBox = '' %}
            {% if postData is not empty %}
               {% if postData.leftCheckBox == 1 %}
                  {% set leftCheckBox = 'checked' %}
               {% endif %}
            {% endif %}
              <input type="checkbox" {{ leftCheckBox }} id="leftCheckbox" name="leftCheckBox" value="1">
              Cliccando su questo box dichiaro di essere titolare del diritto d'autore e di ogni diritto di pubblicazione sull’opera fotografica da me caricata. Dichiaro inoltre di aver letto e di accettare integralmente il Regolamento del contest.
            </label>
            <br>
            <h6 class="formtitle">Sono il genitore/tutore del/la minore</h6>
            <label class="checkbox">
            {% set rightCheckBox = '' %}
            {% set minorStyle = 'display:none' %}
            {% if postData is not empty %}
               {% if postData.rightCheckBox == 1 %}
                  {% set rightCheckBox = 'checked' %}
                  {% set minorStyle = 'display:block' %}
               {% endif %}
            {% endif %}
              <input type="checkbox" {{rightCheckBox}} id="rightCheckBox" name="rightCheckBox"  value="1">
              Cliccando su questo box dichiaro che il/la minorenne del/la quale sono il legale rappresentante è titolare del diritto d’autore e di ogni diritto di pubblicazione sull’opera fotografica da me caricata in nome e per conto del/la minore stesso/a. Dichiaro inoltre di aver letto e di accettare integralmente il Regolamento del contest.
            </label>
            <div id="minor" style="{{minorStyle}}">
            <p><em>Inserisci nome e cognome del/la minore</em></p>
            {% set minorName = '' %}
            {% if postData is not empty %}
               {% if postData.minorName is not empty %}
                  {% set minorName = postData.minorName %}
               {% endif %}
            {% endif %}
            <input type="text" placeholder= "" name='minorName'  id="minorName" value="{{minorName}}">
            <br><br>
            </div>
            <input type="hidden" name="contestTitle" value="{{ contestInfo.contestTitle }}">  
            <button class="btn pull-right" id="contestEntrySubmitbutton" type="submit" name='contestEntry'>CARICA</button>
            <br>
          </form>
        </div>
      </div>
    </div>
    <div class="span4" >
      <div class="entry-content-right">
        <h6 class="formtitle">Specifiche Upload</h6>
        <p>Il formato dell’immagine deve essere jpg o png. Il peso massimmo ammesso per immagine è di 5MB. </p>
      </div>
    </div>
  {%else%}
   <div class="container">
     <div style="background-color:#4cbed7;margin-bottom:50px;">
            <div class="row">
                <div class="span12">
                  <div style="padding:25px 25px;">    
                 <p style="font-size:18px; color:#FFF; font-weight:lighter;">Per i minorenni, è necessario che l’iscrizione a CIVICLINKS, l’accettazione dei relativi Termini di Servizio, dell’informativa sulla privacy e del Regolamento, nonchè il caricamento dell’opera fotografica del minore, siano effettuati dal genitore esercente la parentale potestà o dal tutore.</p></div>
                    
                </div>
            </div>
        </div>
   </div>
  <div class="container">
    <div style="background-color:#f5f5f5; margin:25px 0px;">
      <div class="row">
        <div class="span12">
          <div style="padding:25px 25px;">    
            <h6> 
              <div class="pull-right">
                <a  class="register-link" href="#"><button class="btn btn-block btn-large" type="button">{{ t('contest', 'Sign Up') }}</button></a><br>
                <a class="login-link" href="#" ><button class="btn btn-block btn-large" type="button">{{ t('contest', 'Login') }}</button></a>
              </div>
              Solo gli iscritti a CIVICLINKS possono partecipare al contest.<br>
              Iscriviti o effettua il login per continuare.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endif%}
  </div>
</div>
