<div class="container maincontent">
  <ul class="rslides" id="myslider">
    {% for info in contestInfo %}
      {% if info.contestSlug is not empty %}
        <li><a href="{{constant('BASE_URL')}}contest/brief/{{ info.contestSlug }} "><img src="{{constant('BASE_URL')}}images/homepage_photo_contest.jpg" alt="{{ t('contest', 'contest Image')}}" /></a></li>  
      {% endif %} 
    {% endfor %}
  </ul>
 
  <div class="row" style="padding-top:30px;">
    <div class="span4">
      {% set firstContestSlug = ''%}
      {% if contestInfo is not empty %} 
        {% set firstContestSlug = contestInfo.0.contestSlug %}
      {% endif %}
      {% if firstContestSlug == '' %}
        <a href="#">
      {% else %}
         <a href="{{constant('BASE_URL')}}contest/submission/{{firstContestSlug}}">
      {% endif %}
        <div style="position:relative;">
          <img src="{{constant('BASE_URL')}}images/photo_contest_750_750.jpg" width="750" height="750" alt="Youth">
          <div class="homepage-box">
            <h2>La ricerca in uno scatto!</h2>
          </div>
        </div>
      </a>
      <div class="hidden-desktop" style="height:20px"></div>
    </div>
    <div class="span4">
      <a href="#">
        <div class="bluebox" style="position:relative;">
          <p class="blueboxtext center-box">Con <span style="text-transform: uppercase; font-weight: 600;">storygrant </span>puoi premiare le buone idee, aiutare l'informazione di qualità e far crescere i progetti più innovativi. Aziende, testate giornalistiche, associazioni o istituzioni, tutti possono lanciare un nuovo concorso o aprire un bando per finanziare progetti civici. storygrant serve proprio a questo.
            Hai un'idea per un contest o un grant ? Raccontacela e ti aiuteremo a realizzarla su storygrant e a promuoverla in rete.  </p>
          <div class="homepage-box">
            <h2>Crea nuovi contest e grant</h2>
          </div>
        </div>
      </a>
      <div class="hidden-desktop" style="height:20px"></div>  
    </div>

    <div class="span4">
      <a href="https://www.civiclinks.it/it/principles/">
        <div style="position:relative;">
          <img src="{{constant('BASE_URL')}}images/principles_750_750.jpg" width="750" height="750" alt="Youth">
          <div class="homepage-box">
            <h2>Principi | CIVICLINKS</h2>
          </div>
        </div> 
      </a> 
      <div class="hidden-desktop" style="height:20px"></div>
    </div>
  </div>
</div> 