<div class="container maincontent">
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      {% set active = 'class="active"' %}
      {% set i = 0 %}
      {% for banner in banners %}
        <li data-target="#myCarousel" data-slide-to="{{i}}" {{active}}></li>
        {% set i = i + 1 %}
        {% set active = ' ' %}
      {% endfor %} 
      {% for staticBanner in staticBanners %}
        <li data-target="#myCarousel" data-slide-to="{{i}}" {{active}}></li>
        {% set i = i + 1 %}
        {% set active = ' ' %}
      {% endfor %}       
    </ol>
    {% set active = 'active' %}
    <div class="carousel-inner">
      {% for banner in banners %}
        <div class="item {{active}}">
          <a href="{{constant('BASE_URL')}}contest/brief/{{banner.slug}}">
            <img src="{{constant('BASE_URL')}}images/{{banner.image}}" alt="{{ t('contest', 'contest Image')}}" />
          </a>
        </div>
        {% if active is not empty %}
          {% set active = '' %}
        {% endif %}
      {% endfor %}
      {% for staticBanner in staticBanners %}
        <div class="item {{active}}">
          <a href="{{staticBanner.url}}">
            <img src="{{constant('BASE_URL')}}images/{{staticBanner.image}}" alt="{{ t('contest', 'contest Image')}}" />
          </a>
        </div>
        {% set active = '' %}
      {% endfor %}
    </div>
    
    {% if banners|length  + staticBanners|length > 1 %}
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    {% endif %}  
  </div>  
  <div class="row" style="padding-top:50px;">
    <div class="span4">
      {% set activeContestSlug = '' %}
      {% set activeContestSlug = getFirstContest() %}
      {% if activeContestSlug == '' %}
        <a href="#">
      {% else %}
         <a href="{{constant('BASE_URL')}}contest/winner/{{activeContestSlug}}">
      {% endif %}
        <div style="position:relative;">
          <img src="{{constant('BASE_URL')}}images/photo_contest_winner_750_750.jpg" width="750" height="750" alt="Youth">
          <div class="homepage-box">
            <h2>La ricerca in uno scatto!</h2>
          </div>
        </div>
      </a>
      <div class="hidden-desktop" style="height:20px"></div>
    </div>
    <div class="span4">
      <a href="#">
        <div class="bluebox" style="position:relative;">
          <p class="blueboxtext">Con <span style="text-transform: uppercase; font-weight: 600;">storygrant </span>puoi premiare le buone idee, aiutare l'informazione di qualità e far crescere i progetti più innovativi. Aziende, testate giornalistiche, associazioni o istituzioni, tutti possono lanciare un nuovo concorso o aprire un bando per finanziare progetti civici. storygrant serve proprio a questo.
            Hai un'idea per un contest o un grant ? Raccontacela e ti aiuteremo a realizzarla su storygrant e a promuoverla in rete.  </p>
          <div class="homepage-box">
            <h2>Crea nuovi contest e grant</h2>
          </div>
        </div>
      </a>
      <div class="hidden-desktop" style="height:20px"></div>  
    </div>

    <div class="span4">
      <a href="https://www.civiclinks.it/it/principles/">
        <div style="position:relative;">
          <img src="{{constant('BASE_URL')}}images/principles_750_750.jpg" width="750" height="750" alt="Youth">
          <div class="homepage-box">
            <h2>Principi | CIVICLINKS</h2>
          </div>
        </div> 
      </a> 
      <div class="hidden-desktop" style="height:20px"></div>
    </div>
  </div>
</div> 