<div class="container maincontent">
  <ul class="rslides" id="myslider">
    {% for info in contestInfo %}
      {% if info.contestSlug is not empty %}
        <li><a href="{{constant('BASE_URL')}}contest/{{ info.contestSlug }} "><img src="{{ info.imagePath }}" alt="contest image" /></a></li>  
      {% endif %} 
    {% endfor %}
  </ul>

  <div style="position:relative; top:-90px; z-index:9; list-style:circle;">
    <div style="position:absolute; top:10px;">
      <h1>IMS PHOTO CONTEST 2013 | Mountain.Lights&amp;Shadows</h1></div>
    <ul id="myslider-pager"  class="rslides_tabs rslides1_tabs"  style="list-style:circle; background-color:#4cbed7; padding:20px 0px;">
      {% for info in contestInfo %}
        <li style="list-style:disc;"><a href="#">{{ info.contestId }}</a></li>  
      {% endfor %}
    </ul>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="span4">
      <a href="#">
        <div style="position:relative;">
          <img src="{{constant('BASE_URL')}}images/youth.jpg" width="307" height="306" alt="Youth">
          <div class="homepage-box">
            <h2>Youth in action</h2>
            <h2 class="secondary">new perspectives contest </h2>
          </div>
        </div>
      </a>
      <div class="hidden-desktop" style="height:20px"></div>
    </div>
    <div class="span4">
      <a href="#">
        <div style="position:relative;">
          <img src="{{constant('BASE_URL')}}images/youth.jpg" width="307" height="306" alt="Youth">
          <div class="homepage-box">
            <h2>Informazione digitale</h2>
            <h2 class="secondary">premio La Stampa </h2>
          </div>
        </div>
      </a>
      <div class="hidden-desktop" style="height:20px"></div>  
    </div>

    <div class="span4">
      <a href="#">
        <div style="position:relative;">
          <img src="{{constant('BASE_URL')}}images/youth.jpg" width="307" height="306" alt="Youth">
          <div class="homepage-box">
            <h2>Spot of Red</h2>
            <h2 class="secondary">un video per l’Avis</h2>
          </div>
        </div> 
      </a> 
      <div class="hidden-desktop" style="height:20px"></div>
    </div>
  </div>
</div> 