<div class="container">
  <form class="form-signin" method='POST'><img src="{{constant('BASE_URL')}}images/civiclinkslogo.png" width="116" height="24" alt="logo">
    <h2 class="form-signin-heading">{{ t('contest', 'Please sign in with your Civic Links account') }}</h2>
    {% set class = 'alert-error' %}
    {% if message.msg is not empty %}
      {% if message.success is not empty %}
        {% set class = 'alert-success' %}
      {% endif %}      
    {% endif %}
    <div class="{{class}}" id="error">
      {% if message.msg is not empty %}
        {{ message.msg }}
      {% endif %}  
    </div>
    <input type="text" class="input-block-level" id="email" name="email"  placeholder="{{ t('contest','Email address') }}">
    <input type="password" class="input-block-level" id='password' name="password"  placeholder="{{ t('contest','Password') }}">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> {{ t('contest', 'Remember me') }}
    </label>
    <button class="btn btn-large btn-primary" type="submit" id="submit">{{ t('contest', 'Sign in') }}</button>
  </form>
</div>
{% if message.success is not empty %}  
  <script type="text/javascript"> 
    var backPageUrl =  "{{back_url}}";
    parent.location.replace(backPageUrl);
  </script>
{% endif %}  
