<div class="container">
  <form class="form-signin" method='POST'><img src="{{constant('BASE_URL')}}images/civiclinkslogo.png" width="116" height="24" alt="logo">
    <h2 class="form-signin-heading">Please sign in with your Civic Links account</h2>
    {% if message.msg is not empty %}
      {% set class = 'alert-error' %}    
      {% if message.success is not empty %}
        {% set class = 'alert-success' %}
      {% endif %}
      <span class="{{class}}">
        {{ message.msg }}
      </span>
    {% endif %}
    <input type="text" class="input-block-level" name="email" required placeholder="Email address">
    <input type="password" class="input-block-level" name="password" required placeholder="Password">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>
</div>