<div class="container darkheader">
  <div class="row">
    <div class="span8"><h1> {{ t('contest', 'Manage Winner for ') }} {{category.category_name}}{{t('contest', ' category')}}</h1></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span4">
      <a class="contest-button btn-block" href="{{constant('BASE_URL')}}admin/category/{{category.category_id}}/add">
        {{ t('contest', 'Add new winner') }}
      </a>
    </div>
  </div>
  {% if entries is empty %}      
    <div class="container" style="background-color:#f5f5f5; margin:25px 0px;">
      <div class="row">
        <div class="span8">
          <div style="padding:25px 25px;">    
            <center>
              <h6>{{ t('contest', 'There are no category for this contest')}}</h6><br>
            </center>
          </div>
        </div>
      </div>
    </div>
  {% else %} 
    <table class="container table table-bordered table-hover category-table">
      <thead>
        <tr>
          <th>{{ t('contest', 'S. No.') }}</th>
          <th>{{ t('contest', 'Entry') }}</th>
          <th>{{ t('contest', 'Title') }}</th>
          <th>{{ t('contest', 'Author') }}</th>  
        </tr>
      </thead>
      <tbody>
        {% set i = 1 %}
        {% for entry in entries %}
          <tr>
            <td>{{ i }}</td>
            <td><img src="{{constant('BASE_URL')}}{{resizeByPath(entry.image,'100','500')}}" alt="contest image" /></td>
            <td>{{entry.title}}</td>
            <td>{{entry.author}}</td>
            {% set i = i + 1 %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
<script src="{{constant('BASE_URL')}}js/category.js"></script>
