<div class="container">
  <form class="form-signin" method="POST" action="{{constant('BASE_URL')}}register"><img src="{{constant('BASE_URL')}}images/civiclinkslogo.png" width="116" height="24" alt="logo">
    <h2 class="form-signin-heading">Register with Civic Links</h2>
    {% if message.msg is not empty %}
      {% set class = 'alert-error' %}    
      {% if message.success is not empty %}
        {% set class = 'alert-success' %}
      {% endif %}
      <span class="{{class}}" id="error">
        {{ message.msg }}
      </span>
    {% endif %}
     <div  class="alert-error" id="error"></div>
    <input type="text" class="input-block-level" name ="firstname" required placeholder="First Name">
    <input type="text" class="input-block-level" name ="lastname" required placeholder="Last Name">
    <input type="text" class="input-block-level" name ="email" id="email" required placeholder="Email address">
    <input type="password" class="input-block-level" name ="password" required placeholder="Password">
    <label class="checkbox">
      <input type="checkbox" required name="terms" id="register-terms" value="terms"> Accept the terms of Service
    </label>
    <button class="btn btn-large btn-primary" type="submit" id="register-submit">Register</button>

    <hr>
    Hai già un profilo?
    <a href="{{constant('BASE_URL')}}login" class="btn" style="margin-right:10px;">Login</a>

  </form>
</div> 