{% include  '/views/template/innerContestUpperPart.html' %}
<div style="background-color:#4cbed7; margin-top:25px; margin-bottom:25px;">
  <div class="container">
    <div class="row">
      {% if contestInfo.intro_status == 1 %}
        {% set introText = t('contest', 'INTRO') %}
        {% if contestInfo.intro_title is not empty %}
          {% set introText = contestInfo.intro_title %}
        {% endif %}
        <div class="span3">
          <a href="{{constant('BASE_URL')}}contest/intro/{{ contestInfo.contestSlug }}"  class="contest-button btn-block">{{introText}}</a>
        </div>
      {% endif %}
      {% if contestInfo.entryStatus == 1 %}
        <div class="span3">
          <a href="{{constant('BASE_URL')}}contest/entries/{{ contestInfo.contestSlug }}"  class="contest-button btn-block">{{t('contest', 'PARTICIPANTS')}}</a>
        </div>
      {% endif %}
      <div class="span3">
        <a href="{{constant('BASE_URL')}}contest/brief/{{ contestInfo.contestSlug }}" class="contest-button btn-block">{{t('contest', 'RULE')}}</a>
      </div>
      <div class="span3">
        <a href="{{constant('BASE_URL')}}contest/submission/{{ contestInfo.contestSlug }}"  class="contest-button btn-block active">{{t('contest', 'PARTICIPATE')}}</a>
      </div>
      {% if contestInfo.winnerStatus == 1 %}
        <div class="span3">
          <a href="{{constant('BASE_URL')}}contest/winner/{{ contestInfo.contestSlug }}"  class="contest-button btn-block">{{t('contest', 'WINNERS')}}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div id="entrySubmission">
  {% if hasClosedContest %}
    {% include  '/views/contest/contestClosed.html' %}
  {% elseif isEntrySubmit == 0 %}
    {% set showsubmit = 1 %}
    {% if message.msg is not empty %}
      {% if message.success is not empty %}
         {% set showsubmit = 0%}
         {% include  '/views/contest/submissionSuccessMessage.html' %}
      {% endif %}
    {% endif %}
    {% if showsubmit == 1 %}
      {% include  '/views/youngdesigner/entrySubmission.html' %}
    {% endif %}
  {% else %}
    {% include  '/views/contest/entryAlreadySubmited.html' %}
  {% endif %}
</div>

<script src="{{constant('BASE_URL')}}js/youngDesigner.js"></script>