<div class="container" style="padding-top:30px;">
  <div class="row">
    {% if App.session is not empty %}
      <div class="span8">
        <div class="entry-content-left">
          <div style="padding: 20px 40px;">
            <form action="" method="post"  enctype = "multipart/form-data">
              <div id="error">
                {% if message.msg is not empty %}
                  {{ message.msg }}
                {% endif %}
              </div>

              {% set entityTitle = '' %}
              {% if postData is not empty %}
                 {% if postData.title is not empty %}
                    {% set entityTitle = postData.title %}
                 {% endif %}
              {% endif %}
              <h6 class="formtitle">{{t('contest', 'Title')}}*</h6>
              <p><em>{{t('contest', 'Title of the project')}}</em></p>
              <input type="text" class="input-block-level" id="entry-title" name="title" value="{{entityTitle}}" />
              
              {% set submitterSortBio = '' %}
              {% if postData is not empty %}
                 {% if postData.submitter_info is not empty %}
                    {% set submitterSortBio = postData.submitter_info %}
                 {% endif %}
              {% endif %}
              <h6 class="formtitle">{{t('contest', 'My CV/Resume')}}*</h6>
              <p><em>{{t('contest', 'Please submit your sort bio')}}</em></p>
              <input type="file" class="input-block-level" id="pdf-file-cv" name="cv" />
              
              <h6 class="formtitle">{{t('contest', 'Project File')}}*</h6>
              <input type="file"  class="input-block-level" id="pdf-file" name="pdf_file" />

              {% set videoLink = '' %}
              {% if postData is not empty %}
                 {% if postData.video_link is not empty %}
                    {% set videoLink = postData.video_link %}
                 {% endif %}
              {% endif %}
              <h6 class="formtitle">{{t('contest', 'Video')}}</h6>
              <p><em>{{t('contest', 'Please enter youtube video url')}}</em></p>
              <input type="text"  class="input-block-level" id="video-link" name="video_link" value="{{videoLink}}" />
              
              <h6 class="formtitle">{{t('contest', 'Additional portfolio item 1')}}</h6>
              <input type="file"  class="input-block-level" id="pdf-file-1" name="additional_pdf_file_1" />
              
              <h6 class="formtitle">{{t('contest', 'Additional portfolio item 2')}}</h6>
              <input type="file"  class="input-block-level" id="pdf-file-2" name="additional_pdf_file_2" />
              
              <h6 class="formtitle">{{t('contest', 'Additional portfolio item 3')}}</h6>
              <input type="file"  class="input-block-level" id="pdf-file-3" name="additional_pdf_file_3" />
              <br/>
              <label class="checkbox">
                {% set check = '' %}
                {% if postData.confirmation_checkbox is not empty %}
                  {% set check = 'checked' %}
                {% endif %}  
                <input type="checkbox" id="confirmation-checkbox" name="confirmation_checkbox" value="confirm" {{check}}>
                {{ t('contest','I agree with the General Usage agreement and the Italian Privacy law.') }} 
              </label>
              <button class="btn pull-right" id="saveContestSubmission" type="submit" name="save_contest">
                {{t('contest', 'save')}}
              </button>
              <br>
            </form>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="entry-content-right">
          <h6 class="formtitle">Upload Specification</h6>
          <p>{{t('contest', 'Please complete the form (you can upload a pdf of 
            your work or submit the link to a video of your work) The fields marked with * are mandatory.')}}</p>
        </div>
      </div>
     {%else%}
      <div class="container">
        <div style="background-color:#f5f5f5; margin:25px 0px;">
          <div class="row">
            <div class="span12">
              <div style="padding:25px 25px;">
                <h6>
                  <div class="pull-right">
                    <a  class="register-link" href="#"><button class="btn btn-block btn-large" type="button">{{ t('contest', 'Sign Up') }}</button></a><br>
                    <a class="login-link" href="#" ><button class="btn btn-block btn-large" type="button">{{ t('contest', 'Login') }}</button></a>
                  </div>
                  {{t('contest', 'Only members can participate in the contest to CIVICLINKS.')}} <br>
                  {{t('contest', 'Sign up or log in to continue.')}}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    {%endif%}
  </div>
</div>