<div class="container darkheader">
  <div class="row">
    <div class="span8"><h1> {{ t('contest', 'Manage Winner for ') }} {{contest.contestTitle}}</h1></div>
  </div>
</div>
<div class="container ">
  <div class="row">
    <div class="span3">
      <a class="contest-button btn-block" href="{{constant('BASE_URL')}}admin/contest/winner/{{contest.contestSlug}}">
        {{ t('contest', 'Show winner') }}
      </a>
    </div>
  </div>
  {% if msg is not empty %}
    <div class="alert-error span5" id="error">
      {{ msg }}
    </div>
    <br/>
  {% endif %}  

  {% if entries is empty %}      
    <div style="background-color:#f5f5f5; margin:25px 0px;">
      <div class="row">
        <div class="span8">
          <div style="padding:25px 25px;">    
            <center> 
              <h6>{{ t('contest', 'There are no entry in this contest')}}</h6>
            </center>
          </div>
        </div>
      </div>
    </div>
  {% else %} 
    <table class="table table-bordered table-hover category-table">
      <thead>
        <tr>
          <th>{{ t('contest', 'S. No.') }}</th>
          <th>{{ t('contest', 'Entry') }}</th>
          <th>{{ t('contest', 'Title') }}</th>
          <th>{{ t('contest', 'Author') }}</th>
          <th>{{ t('contest', 'Add Entry') }}</th>
        </tr>
      </thead>
      <tbody id="winner-row">
        {% set i = 1 %}
        {% for entry in entries %}
        <tr>
          <td>{{ i }}</td>
          <td>
            <a href="{{constant('BASE_URL')}}contest/entries/{{contest.contestSlug}}/{{entry.id}}" target="_blank">
               <img src="{{constant('BASE_URL')}}{{resizeByPath(entry.videoImagePath,'100','500')}}" alt="contest image" />
            </a>
          </td>
          <td>
            <a href="{{constant('BASE_URL')}}contest/entries/{{contest.contestSlug}}/{{entry.id}}"  target="_blank">{{entry.title}}</a>
          </td>
          <td>{{entry.author.name}}</td>
          <td id="{{entry.id}}" class="add-entry">
            <a href="#add-prize-modal"  data-toggle="modal">{{ t('contest', 'add') }}</a>
          </td>
          {% set i = i + 1 %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div id="loading-image">
      <center><img src="{{constant('BASE_URL')}}images/loader.gif" alt="loading image" /></center>
    </div>  
    <input type="hidden" name="winnerWeight" value="{{winner_weight}}" id="winnerWeight" />
    <input type="hidden" name="entry_count" value="{{entry_count}}" id="winnerCount" />
    <input type="hidden" name="base_url" value="{{constant('BASE_URL')}}" id="baseUrl" />
    <input type="hidden" name="winner_url" value="{{constant('BASE_URL')}}admin/contest/winner/add/{{category.category_id}}/add" id="winnerPageUrl" />
  {%endif%}
 
  <div class="modal hide fade" id="add-prize-modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
        <center>Add Prize</center>
    </div>
    <div class="modal-body" style="padding: 27px 30px 29px 60px">
      <form  method="post" id="add-prize-modal-form" action="">
        <div id="add-prize-modal-error" class="alert-error" style="display:none"></div>
        <input type="hidden" class="input-block-level" id="add-entry-id" name="id" value=""></input>
        <label>{{ t('contest', 'Prize')}}</label>
        <input type="text"class="input-block-level" name="prize" id="prize" value=""></input>
        <label>{{ t('contest', 'weight')}}</label>
        <input type="text" class="input-block-level" name="weight" id="weight" value=""></input>      
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">{{ t('contest', 'Close')}}</a>
      <a href="#" class="btn" id="add-prize-modal-save">{{ t('contest', 'Save')}}</a>
    </div>
  </div>
</div>
<script>
  var addWinnerPageUrl = "{{constant('BASE_URL')}}admin/contest/winner/add/{{constant('FALLING_WALLS_CONTEST_SLUG')}}";
</script>
<script src="{{constant('BASE_URL')}}js/fallingWallsWinner.js"></script>