{% include  '/views/template/innerContestUpperPart.html' %}
<div style="background-color:#4cbed7; margin-top:25px; margin-bottom:25px;">
  <div class="container">
    <div class="row">   
      {% if contestInfo.entryStatus == 1 %}
        <div class="span3">
          <input type='hidden' id="submitContestEntry" value="{{constant('BASE_URL')}}contest/entries/{{ contestInfo.contestSlug }}">
          <input type='hidden' id="entryCategory" value="{{selectedCategory}}" />        
          <a href="{{constant('BASE_URL')}}contest/entries/{{ contestInfo.contestSlug }}" class="contest-button btn-block">PARTECIPANTI</a>
        </div>
      {% endif  %}
      <div class="span3">
        <a href="{{constant('BASE_URL')}}contest/brief/{{ contestInfo.contestSlug }}" class="contest-button btn-block ">REGOLAMENTO</a>        
      </div>        
      <div class="span3">
        <a href="{{constant('BASE_URL')}}contest/submission/{{ contestInfo.contestSlug }}"  class="contest-button btn-block">PARTECIPA</a>
      </div> 
      {% if contestInfo.winnerStatus == 1 %}
        <div class="span3">
          <a href="{{constant('BASE_URL')}}contest/winner/{{ contestInfo.contestSlug }}"  class="contest-button btn-block active">VINCITORI</a>
        </div>
      {% endif %}
    </div> 
  </div>
</div>
<div class="container">
  {% for entry in entries %}
    <div style="background-color:#f5f5f5;" >
      <div class="row">
        <div class="span12" >
          <div class="winner-prize-image">
            <img src="{{constant('BASE_URL')}}images/trophy.png" width="61" height="74" alt="trophy">
            <h6 class="listing-title">{{entry.prize_title}}</h6>
          </div>
          <div class="listing-details" style="padding: 15px !important;">
            <h7>TITOLO:</h7>
            <h5>{{entry.title}}</h5>
            <div class="publishedby"><h7>PUBBLICATO DA:</h7>             
              <h6>{{entry.author}}</h6>              
            </div> 
          </div>    
        </div>
      </div>        
    </div>   
    <br/>
  {% endfor %}
</div>  
