<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{App.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{constant('BASE_URL')}}css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{constant('BASE_URL')}}css/jquery.pageslide.css">
    <link rel="stylesheet" href="{{constant('BASE_URL')}}css/responsiveslides.css">
    <link href="{{constant('BASE_URL')}}css/custom.css" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{constant('BASE_URL')}}/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{constant('BASE_URL')}}/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{constant('BASE_URL')}}/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{constant('BASE_URL')}}/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{constant('BASE_URL')}}assets/ico/favicon.ico">
    <script src="{{constant('BASE_URL')}}js/jquery.js"></script>
  </head>

  <body>

    <!-- container header -->
    {% include '/views/template/header.html' %}

    <!-- Content  will be change according to request page (default - content of index page) -->  
    {{  content }}


    <!-- container footer -->
    {% include '/views/template/footer.html' %}
    <!-- /container footer -->

    <script src="{{constant('BASE_URL')}}js/jquery.js"></script>
    <script src="{{constant('BASE_URL')}}js/bootstrap.js"></script>
    <script src="{{constant('BASE_URL')}}js/jquery.pageslide.min.js"></script>
    <script src="{{constant('BASE_URL')}}js/responsiveslides.js"></script>

    <script>
      $(function() {
        $("#myslider").responsiveSlides({
          auto: false,
          pager: true,
          speed: 300,
          manualControls: '#myslider-pager',
        });
      });
    </script>
  </body>
</html>
