<div class="container darkfooter">
  <footer>
    <div class="row">
      <div class="span6">
        <p> Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>
      <div class="span6">
        <div class="footer-header-background"><span class="highlight-text">Sign Up for our mailing list</span></div>
        <p> Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>
    </div>
    <div class="row"><div class="span12">&nbsp;</div></div>
    <div class="row">
      <div class="span6">
        <div class="footer-header-background"><span class="highlight-text">Follow Us</span></div>
        <p><img src="images/facebook.png" width="48" height="48" alt="facebook" class="social-media-icons"><img src="images/twitter.png" width="48" height="48" alt="twitter" class="social-media-icons"><img src="images/googleplus.png" width="48" height="48" alt="google" class="social-media-icons"><img src="images/youtube.png" width="48" height="48" alt="youtube" class="social-media-icons"><img src="images/rss.png" width="48" height="48" alt="rss" class="social-media-icons"></p>
      </div>
      <div class="span6">
        <div class="footer-header-background"><span class="highlight-text">Latest Tweets</span></div>
        <p> Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>
    </div>
  </footer>
</div>