<div class="container darkheader">
  <div class="row">
    <div class="span12"><h1> {{contest}}</h1></div>
  </div>
</div>
<div class="container maincontent">
  <form class="form-create-contest" action="" method="post"  enctype = "multipart/form-data">
    <div class="row">
      <div class="span3 darkheader" >
        <center><h1>{{ t('contest', 'Manage Category') }}</h1></center>
      </div>      
    </div>
   
    {% if categories is empty %}      
      <div style="background-color:#f5f5f5; margin:25px 0px;">
        <div class="row">
          <div class="span3">
            <div style="padding:25px 25px;">    
              <h6> 
                {{ t('contest', 'There are no category for this contest')}}.<br>
              </h6>
            </div>
          </div>
        </div>
      </div>
    {% else %}         
      <table class="container table table-bordered table-hover category-table">
        <thead>
          <tr>
            <th>{{ t('contest', 'S. No.') }}</th>
            <th>{{ t('contest', 'Category') }}</th>
            <th>{{ t('contest', 'Manage Winner') }}</th>
          </tr>
        </thead>
        <tbody>
          {% set i = 1 %}
          {% for category in categories %}
            <tr>
              <td>{{ i }}</td>
              <td>{{category.category_name}}</td>
              <td>
                <a href="{{constant('BASE_URL')}}admin/category/winner/{{category.category_id}}">
                  {{ t ('contest', 'Manage Winner') }}
                </a>  
              </td>
              {% set i = i + 1 %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
   
    <div id="add-category" style="display:none">
      <label>{{ t('contest','Add new category')}}</label>
      <input type="text"  name="categoryName" value=""><br/>
      <input type="hidden"  name="contestSlug" value="incaendo"><br/>
      <button id="create" class="btn btn-large btn-primary" type="submit" name='contestDetail'>{{ t('contest', 'add') }}</button>
    </div>
    <div id="add-new-category" class="btn btn-large btn-primary">{{ t('contest', 'Add new category') }}</div>
  </form> 
</div>  
<script src="{{constant('BASE_URL')}}js/common.js"></script>
<script src="{{constant('BASE_URL')}}js/category.js"></script>