<link href="{{constant('BASE_URL')}}css/jquery.rating.css" rel="stylesheet">
<div class="container">
  <table class="table table-hover table-bordered">
    <tr>
      <th>S. No.</th>
      <th>{{t('contest', 'Entry Title')}}</th>
      <th>{{t('contest', 'Author')}}</th>
      <th>{{t('contest', 'Rating')}}</th>
      <th>{{t('contest', 'View Detail')}}</th>
    </tr>
    {% set i = 0 %}
    {% for entry in entries %}
      {% set i =  i + 1 %}
      <tr>
        <td>{{i}}</td>
        <td>{{entry.title}}</td>
        <td>{{entry.author.name}}</td>
        <td class="jury-vote" entry-id="{{entry.id}}">
          {% for j in 1..constant('STAR_COUNT') %}
          {% set check = '' %}
          {% if j == entry.jury_rating %}
            {% set check = 'checked="checked"' %}
          {% endif %}
            <input name="star{{i}}" type="radio" value="{{j}}" {{check}} class="star auto-submit-star"/> 
          {% endfor %}
        </td>
        <td><a href="{{constant('BASE_URL')}}jury/entry/{{contest_slug}}/{{entry.id}}">View Detail</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
<script>
  var page = {
    save_rating_url : "{{constant('BASE_URL')}}jury/rating/save/{{contest_slug}}"
  };
</script>
<script src="{{constant('BASE_URL')}}js/jquery.rating.js"></script>
<script src="{{constant('BASE_URL')}}js/jury.js"></script>